*{
    font-family: monaco,Consolas,Lucida Console,monospace;
    font-weight: 700;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: rgba(0, 0, 0, 0.89);
}
.lowbar{
    display: flex;
    gap : 36px;
}
.input{
    display: flex;
    flex-direction: column;
    color: aliceblue;
}
.clean{
    background: none;
    border: none;
    background-color: rgba(84, 178, 228, 0.738);
    border-radius: 16px;
}
.colorChange{
    border: none;
    text-decoration: none;
    border-radius: 16px;
}
.draw{
    background: none;
    border: none;
    background-color: rgba(84, 178, 228, 0.738);
    border-radius: 16px;
}
.grid{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    border: 2px solid blue;
    background-color: rgb(212, 224, 235);
}
.grid div{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    position: absolute;
    bottom: 0;
}